<div class="fh5co-cover-text">
   <div class="container">
      <div class="row">
         <div class="col-md-push-6 col-md-6 full-height js-full-height">
            <div class="fh5co-cover-intro">
               <h1 ng-show="login.status" class="cover-text-lead wow fadeInUp">
               Bem vindo(a), {[{ login.nome}]}  {[{ login.sobrenome}]}.
               <h1>
               <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Encontre os melhores livros</h1>
               <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s" ng-show="login.status">Livraria online para compra e venda de livros. Cadastre você também um livro.</h2>
               <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s" ng-show="!login.status">Livraria online para compra e venda de livros. Faça o seu login agora mesmo e cadastre você também um livro.</h2>
               <button class="btn btn-success btn-outline btn-lg" onclick="location.href='#books-view'">Livros Disponíveis</button>
            </div>
         </div>
      </div>
   </div>
</div>
